@page
@model lab2.Pages.Students.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.StudentNumber" class="control-label"></label>
                <input asp-for="Student.StudentNumber" class="form-control" />
                <span asp-validation-for="Student.StudentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.TuitionFee" class="control-label"></label>
                <input asp-for="Student.TuitionFee" class="form-control" />
                <span asp-validation-for="Student.TuitionFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.RegistrationDate" class="control-label"></label>
                <input asp-for="Student.RegistrationDate" class="form-control" />
                <span asp-validation-for="Student.RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.DegreeFK" class="control-label"></label>
                <select asp-for="Student.DegreeFK" class ="form-control" asp-items="ViewBag.DegreeFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" class="form-control" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.BirthDate" class="control-label"></label>
                <input asp-for="Student.BirthDate" class="form-control" />
                <span asp-validation-for="Student.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.CellPhone" class="control-label"></label>
                <input asp-for="Student.CellPhone" class="form-control" />
                <span asp-validation-for="Student.CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
